body{
    font-family: "Times New Roman", Times, serif;
}
.acc-asd{
    margin-top: 25px;
    font-size: large;
}
img{
    border: 2px, solid, black;
}
.margin{
    margin: 15px;
}
p{
    font-size: large;
}
.acc-img{
    height: 50%;
    width: 60%;
}